---
import { Pagination } from 'accessible-astro-components'
import Feature from '../../components/Feature.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'

const posts = (await getCollection('projects')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
const postsLen = posts.length
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="my-12">
    <div class="space-content container">
      <h1>Project</h1>
      <p class="text-lg md:text-2xl">
        here's all my project placed. enjoy! 🍺
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container flex justify-center">
      <!-- <p class="text-sm"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p> -->
      <ul class="my-3">
        {
          posts.map((post) => (
            <li>
              <Feature title={post.data.title} href={'/project/' + post.slug} src={post.data.heroImage}>
                {post.data.description}
              </Feature>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
	ul {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-gap: 4rem;
  
	  @media (min-width: 550px) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	  }
  
	  @media (min-width: 950px) {
		grid-template-columns: repeat(3, 1fr);
	  }
	}
  </style>