---
import DefaultLayout from './DefaultLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'

const { title, description, pubDate, heroImage = '/blog-placeholder-4.jpg', author } = Astro.props
const formattedDate = pubDate.slice(0, 10) + ' ' + pubDate.slice(11, 16)
---

<DefaultLayout title={title} description={description}>
  <div class="container flex">
    <div class="w-4/5 flex-initial">
      <div class="mt-12">
        <Breadcrumbs>
          <BreadcrumbsItem href="/" label="Home" />
          <BreadcrumbsItem href="/blog" label="Blog" />
          <BreadcrumbsItem currentPage={true} label={title} />
        </Breadcrumbs>
      </div>
      <section class="my-12">
        <div class="container">
          {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
          <br />
          <h1 class="mb-3">{title}</h1>
          <p class="mb-3 font-bold text-slate-700">
            {formattedDate}
          </p>
          <p>author: {author}</p>
        </div>
      </section>
      <section class="my-12">
        <div class="container text-justify" style="padding-right: 30px;">
          <slot>
            <p>{description}</p>
          </slot>
        </div>
      </section>
    </div>
    <div class="sidebar-container w-1/5 flex-initial">
      <div class="h-fit rounded-md bg-slate-200 px-5 py-6 dark:bg-slate-600">
        <p class="is-active text-xl font-semibold dark:text-slate-800">Blogs</p>
        <div class="mt-6 max-h-60 overflow-y-auto border-l-4 border-slate-300 dark:border-slate-800">
          <ul class="sidebar-1">
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-5 h-fit rounded-md bg-slate-200 px-5 py-6 dark:bg-slate-600">
        <p class="is-active text-xl font-semibold dark:text-slate-800">Projects</p>
        <div class="mt-6 max-h-60 overflow-y-auto border-l-4 border-slate-300 dark:border-slate-800">
          <ul class="sidebar-1">
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
            <li class="mx-0 px-0">
              <a
                href="#"
                class="mx-0 border-l-4 border-transparent px-0 pl-4 text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-emerald-400 dark:hover:border-slate-500 dark:hover:text-emerald-600"
              >
                hahahaha
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>

<style lang="scss" scoped>
  .sidebar-1 {
    grid-template-columns: auto;
    grid-gap: 1em;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .is-active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;
    text-underline-offset: 7px;
  }
  
</style>
