---
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getRecentPages } from '../lib/api'
import DefaultLayout from './DefaultLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BlogSideBar from '../components/vue/BlogSideBar.vue'

const { title, description, pubDate, heroImage = '/blog-placeholder-4.jpg', author } = Astro.props
const formattedDate = pubDate.slice(0, 10)

const list = await getRecentPages()
const listProject = [
  {
    slug:'markdown-style-guide',
    title: 'Markdown Style Guide',
  },
  {
    slug:'using-mdx',
    title: 'Using MDX',
  },
  {
    slug:'first-post',
    title: 'First Post',
  },
  {
    slug:'second-post',
    title: 'Second Post',
  },
  {
    slug:'third-post',
    title: 'Third Post',
  },
]
---

<DefaultLayout title={title} description={description}>
  <div class="container flex justify-between">
    <div class="w-4/6">
      <div class="mt-12">
        <Breadcrumbs>
          <BreadcrumbsItem href="/" label="Home" />
          <BreadcrumbsItem href="/blog" label="Blog" />
          <BreadcrumbsItem currentPage={true} label={title} />
        </Breadcrumbs>
      </div>
      <section class="my-12">
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
        <div class="container">
          <br />
          <h1 class="mb-3">{title}</h1>
          <div class="flex justify-start text-slate-700 dark:text-slate-100">
            <img src="/about-img-no-bg.png" alt="ava-blog" width="40" height="40" class="me-2" />
            <div class="block">
              <p class="m-0 p-0 font-bold">{author}</p>
              <p class="m-0 p-0 text-xs">Posted on {formattedDate}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="my-12">
        <div class="container text-justify" style="padding-right: 30px;">
          <slot>
            <p>{description}</p>
          </slot>
        </div>
      </section>
    </div>
    <div class="w-3/12">
      <BlogSideBar class:list={'mb-3'} client:load title="Recent Blog" subhref="blog" list={list} />
      <BlogSideBar class:list={'mb-3'} client:load title="Recent Project" subhref="project" list={listProject} />
    </div>
  </div>

  <style lang="scss" scoped>
    .sidebar-1 {
      grid-template-columns: auto;
      grid-gap: 1em;
    }
    .is-active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-style: dashed;
      text-underline-offset: 7px;
    }
  </style>
</DefaultLayout>
