---
import type { CollectionEntry } from 'astro:content'
import DefaultLayout from './DefaultLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BlogSideBar from "../components/vue/BlogSideBar.vue";
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getRecentPages } from '../lib/api'

type Props = CollectionEntry<'projects'>['data']

const { title, description, pubDate, updatedDate, heroImage, userId } = Astro.props

const list = await getRecentPages()
const listProject = [
  {
    slug:'markdown-style-guide',
    title: 'Markdown Style Guide',
  },
  {
    slug:'using-mdx',
    title: 'Using MDX',
  },
  {
    slug:'first-post',
    title: 'First Post',
  },
  {
    slug:'second-post',
    title: 'Second Post',
  },
  {
    slug:'third-post',
    title: 'Third Post',
  },
]
---

<DefaultLayout title={title} description={description} url={title}>
  <div class="container flex">
    <div class="w-4/5 flex-initial">
      <div class="mt-12">
        <Breadcrumbs>
          <BreadcrumbsItem href="/" label="Home" />
          <BreadcrumbsItem href="/project" label="Project" />
          <BreadcrumbsItem currentPage={true} label={title} />
        </Breadcrumbs>
      </div>
      <section class="my-12">
        <div class="container">
          {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
          <br />
          <h1 class="mb-3">{title}</h1>
          <p class="text-slate-700 font-bold mb-3"><FormattedDate date={pubDate} /></p>
          <p>By userId: {userId}</p>
        </div>
      </section>
      <section class="my-12">
        <div class="container text-justify" style="padding-right: 30px;">
          <slot>
            <p>{description}</p>
          </slot>
        </div>
      </section>
    </div>
    <div class="sidebar-container w-3/12 flex-initial">      
      <BlogSideBar class:list={'mb-3'} client:load title="Recent Blog" subhref="blog" list={list} />
      <BlogSideBar class:list={'mb-3'} client:load title="Recent Project" subhref="project" list={listProject} />
    </div>
  </div>
</DefaultLayout>

<style lang="scss" scoped>
  .sidebar-1 {
    grid-template-columns: auto;
    grid-gap: 1em;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .is-active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;
    text-underline-offset: 7px;
  }
</style>
