---
import type { CollectionEntry } from 'astro:content'
import DefaultLayout from './DefaultLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BlogSideBar from '../components/vue/BlogSideBar.vue'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getRecentPages } from '../lib/api'
import GithubFill from '../components/icons/GithubFill.astro'
import { prefetch } from 'astro:prefetch'

type Props = CollectionEntry<'projects'>['data']

const { title, description, pubDate, updatedDate, heroImage, userId, projectLink='https://github.com/sidnazayn' } = Astro.props

// const list = await getRecentPages()
const listProject = [
  {
    slug: 'markdown-style-guide',
    title: 'Markdown Style Guide',
  },
  {
    slug: 'using-mdx',
    title: 'Using MDX',
  },
  {
    slug: 'first-post',
    title: 'First Post',
  },
  {
    slug: 'second-post',
    title: 'Second Post',
  },
  {
    slug: 'third-post',
    title: 'Third Post',
  },
]
---

<DefaultLayout title={title} description={description} url={title}>
  <div class="container flex">
    <div class="w-full md:w-4/5 flex-initial">
      <div class="mt-12">
        <Breadcrumbs>
          <BreadcrumbsItem href="/" label="Home" />
          <BreadcrumbsItem href="/project" label="Project" />
          <BreadcrumbsItem currentPage={true} label={title} />
        </Breadcrumbs>
      </div>
      <section class="my-12">
        <div class="container">
          {heroImage && <img width={810} height={510} src={heroImage} alt="" />}
          <br />
          <h1 class="mb-3">{title}</h1>
          <p class="mb-3 font-bold text-slate-700"><FormattedDate date={pubDate} /></p>
        </div>
      </section>
      <section class="my-12">
        <div class="container text-justify text-sm md:text-base md:pr-[30px]" >
          <slot>
            <p>{description}</p>
          </slot>
          <div class="flex gap-3 mt-3 justify-start">
            <p>Project Link:</p>
            <a href={projectLink} title="project link"><GithubFill class="h-8 w-8" /></a>
          </div>
        </div>
      </section>
    </div>
    <div class="w-1/5 hidden lg:block">
      <!-- <BlogSideBar class:list={'mb-3'} client:load title="Recent Blog" subhref="blog" list={list} /> -->
      <BlogSideBar class:list={'mb-3'} client:load title="Recent Projects" subhref="project" list={listProject} />
    </div>
  </div>
</DefaultLayout>

<style lang="scss" scoped>
  .sidebar-1 {
    grid-template-columns: auto;
    grid-gap: 1em;
  }
  .is-active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;
    text-underline-offset: 7px;
  }
  .container{
    @media screen and (max-width: 1024px) {
      max-width: 980px;
    }
    @media screen and (max-width: 550px) {
      max-width: 380px;
    }
  }
</style>
