---
import { getCollection, type CollectionEntry } from 'astro:content'
import DefaultLayout from './DefaultLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BlogSideBar from '../components/vue/BlogSideBar.vue'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import GithubFill from '../components/icons/GithubFill.astro'

type Props = CollectionEntry<'projects'>['data']

const { title, description, pubDate, heroImage, projectLink = 'https://github.com/sidnazayn' } = Astro.props
const listProject = (await getCollection('projects'))
  .map((post) => ({
    title: post.data.title,
    slug: post.slug,
    pubDate: post.data.pubDate,
  }))
  .sort((a, b) => b.pubDate.valueOf() - a.pubDate.valueOf())

const currentUrl = Astro.url.pathname.replace('/project/', ''); // e.g., "/project/my-slug"
---

<DefaultLayout title={title} description={description} url={title}>
  <div class="container flex">
    <div class="mt-20 w-full flex-initial md:w-4/5">
      <div class="mt-12">
        <Breadcrumbs>
          <BreadcrumbsItem href="/" label="Home" />
          <BreadcrumbsItem href="/project" label="Project" />
          <BreadcrumbsItem currentPage={true} label={title} />
        </Breadcrumbs>
      </div>
      <section class="my-12">
        <div class="container">
          {heroImage && <img width={810} height={510} src={heroImage} alt="" />}
          <br />
          <h1 class="mb-3">{title}</h1>
          <p class="mb-3 font-bold text-slate-700"><FormattedDate date={pubDate} /></p>
        </div>
      </section>
      <section class="my-12">
        <div class="container text-justify text-sm md:pr-[30px] md:text-base/8">
          <slot>
            <p>{description}</p>
          </slot>
          <div class="mt-3 flex justify-start gap-3">
            <p>Project Link:</p>
            <a href={projectLink} title="project link"><GithubFill class="h-8 w-8" /></a>
          </div>
        </div>
      </section>
    </div>
    <div class="mt-32 hidden w-1/5 lg:block">
      <BlogSideBar class:list={'mb-3'} client:load title="Recent Projects" subhref="project" list={listProject} slug={currentUrl} />
    </div>
  </div>
</DefaultLayout>

<style lang="scss" scoped>
  .sidebar-1 {
    grid-template-columns: auto;
    grid-gap: 1em;
  }
  .is-active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;
    text-underline-offset: 7px;
  }
  .container {
    @media screen and (max-width: 1024px) {
      max-width: 980px;
    }
    @media screen and (max-width: 550px) {
      max-width: 380px;
    }
  }
</style>
